* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --font-principal: 'Inter', sans-serif;
    --font-color-principal: rgb(255, 255, 255);
    --bg-url: url(./images/bg-mobile-dark.jpg);
    --bg-url-desktop: url(./images/bg-desktop-dark.jpg);
    --icon-switch: url(./images/icon-darkMode.svg);
    --bg-icon-switch: rgba(255, 255, 255, 1);
    --stroke-color: rgba(255, 255, 255, 0.5);
    --stroke-color-hover: rgb(255, 255, 255);
    --bg-list-menu: rgba(255, 255, 255, 0.1);
    --bg-list-menu-hover: rgba(255, 255, 255, 0.05);
    --color-icons: rgb(255, 255, 255);
    --bg-icons-hover: rgba(255, 255, 255, 0.2);
}

.light {
    --font-color-principal: rgb(18, 18, 18);
    --bg-url: url(./images/bg-mobile-light.jpg);
    --bg-url-desktop: url(./images/bg-desktop-light.jpg);
    --icon-switch: url(./images/icon-lightMode.svg);
    --bg-icon-switch: rgba(255, 255, 255, 1);
    --stroke-color: rgba(0, 0, 0, 0.5);
    --stroke-color-hover: rgba(0, 0, 0, 1);
    --bg-list-menu: rgba(0, 0, 0, 0.05);
    --bg-list-menu-hover: rgba(0, 0, 0, 0.02);
    --color-icons: rgb(18, 18, 18);
    --bg-icons-hover: rgba(0, 0, 0, 0.1);
}

body {
    background-image: var(--bg-url);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    height: 100vh;
    font-family: var(--font-principal);
    color: var(--font-color-principal);
}

ul li, a {
    list-style: none;
    text-decoration: none;
    color: var(--font-color-principal);
}

main {
    margin: 3rem auto;
    text-align: center;
    max-width: 22.5rem;
}

.profile {
    margin: 1.5rem 0;
}

.profile img {
    width: 6.938rem;
    height: 6.938rem;
    margin-bottom: .563rem;
}

.profile p {
    font-weight: 500;
    line-height: 1.5rem;
}

.switch {
    position: relative;
    width: 4rem;
    margin: 1.5rem auto;
}

.switch button {
    cursor: pointer;
    width: 2rem;
    height: 2rem;
    border: none;
    background: white var(--icon-switch) no-repeat center;
    border-radius: 50%;

    position: absolute;
    top: 50%;
    left: 0;
    z-index: 1;
    transform: translateY(-50%);

    animation: slide-back .3s;
}

.light .switch button {
    animation: slide-in .3s forwards;
    border-radius: 50%;
}

.switch button:hover {
    outline: 8px solid var(--bg-icons-hover);
}

.switch span {
    display: block;
    border-radius: .75rem;
    width: 4rem;
    height: 1.5rem;
    border: 1px solid var(--stroke-color);
    background-color: var(--bg-list-menu); 
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
}

.list-menu {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5rem;
    padding: 0 1.5rem;
    margin-bottom: 2rem;
}

.list-menu li a{
    display: flex;
    justify-content: center;
    background: var(--bg-list-menu);
    margin: 1rem 0;
    padding: 1rem 0;
    border-radius: .5rem;
    border: 1px solid var(--stroke-color);
    transition: background .2s;

    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
}

.list-menu li a:hover {
    background-color: var(--bg-list-menu-hover);
    border: 1px solid var(--stroke-color-hover);
}

ion-icon {
    font-size: 1.5rem;
    color: var(--color-icons);
}

.social-medias {
    display: flex;
    justify-content: center;
    gap: .7rem;
    margin: 2.5rem 0 1rem;
}

.social-medias a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    border-radius: 50%;
    transition: background .2s;
}

.social-medias a:hover {
    background-color: var(--bg-icons-hover);
}

.footer {
    font-size: .875rem;
    font-weight: 400;
}

.footer span {
    text-decoration: underline;
}

@keyframes slide-in {
    0% {
        left: 0%;
    }
    100% {
        left: 50%;
    }
}

@keyframes slide-back {
    0% {
        left: 50%;
    }
    100% {
        left: 0%;
    }
}

@media (min-width: 768px) {
body {
    background-image: var(--bg-url-desktop);
}  

main {
    max-width: 36.75rem;
}
}